In [3]:
import pandas as pd
import numpy as np

In [4]:
# Read the data
data = pd.read_csv("data/goodreads_book.csv")
# Only keep columns we need
data.head()

,Id,Name,Authors,ISBN,Rating,PublishYear,PublishMonth,PublishDay,Publisher,RatingDist5,RatingDist4,RatingDist3,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,pagesNumber,Description,Count of text reviews
0,1000000,Flight from Eden,Kathryn A. Graham,0595199402,4.00,2001,1,10,Writer's Showcase Press,5:1,4:1,3:1,2:0,1:0,total:3,1,NaN,380,"What could a computer expert, a mercenary with...",1
1,1000001,Roommates Again,Kathryn O. Galbraith,0689505973,3.20,1994,1,4,Margaret K. McElderry Books,5:0,4:3,3:1,2:0,1:1,total:5,1,NaN,44,"During their stay at Camp Sleep-Away, sisters ...",1
2,1000003,The King At The Door,Brock Cole,0374440417,3.95,1992,31,12,Farrar Straus Giroux,5:5,4:9,3:4,2:1,1:0,total:19,0,NaN,32,A poorly dressed old man appears at an inn and...,0
3,1000004,"Giotto: The Scrovegni Chapel, Padua",Bruce Cole,080761310X,4.47,1993,1,8,George Braziller,5:9,4:5,3:0,2:1,1:0,total:15,2,NaN,118,This beautiful series lavishly illustrates the...,2
4,1000005,Larky Mavis,Brock Cole,0374343659,3.69,2001,3,8,"Farrar, Straus and Giroux (BYR)",5:19,4:12,3:9,2:7,1:4,total:51,8,NaN,32,<b>Another orginal picture-book fairy tale</b>...,8

In [5]:
# Check column names
data.columns

Index(['Id', 'Name', 'Authors', 'ISBN', 'Rating', 'PublishYear',
       'PublishMonth', 'PublishDay', 'Publisher', 'RatingDist5', 'RatingDist4',
       'RatingDist3', 'RatingDist2', 'RatingDist1', 'RatingDistTotal',
       'CountsOfReview', 'Language', 'pagesNumber', 'Description',
       'Count of text reviews'],
      dtype='object')

---
### Filter Columns

In [6]:
# Only keep columns we need
eda_data = data[['Id', 'Name', 'Authors', 'ISBN', 'Rating', 'PublishYear', 'Publisher', 'Language', 'Description']].copy()
eda_data.head()

,Id,Name,Authors,ISBN,Rating,PublishYear,Publisher,Language,Description
0,1000000,Flight from Eden,Kathryn A. Graham,0595199402,4.00,2001,Writer's Showcase Press,NaN,"What could a computer expert, a mercenary with..."
1,1000001,Roommates Again,Kathryn O. Galbraith,0689505973,3.20,1994,Margaret K. McElderry Books,NaN,"During their stay at Camp Sleep-Away, sisters ..."
2,1000003,The King At The Door,Brock Cole,0374440417,3.95,1992,Farrar Straus Giroux,NaN,A poorly dressed old man appears at an inn and...
3,1000004,"Giotto: The Scrovegni Chapel, Padua",Bruce Cole,080761310X,4.47,1993,George Braziller,NaN,This beautiful series lavishly illustrates the...
4,1000005,Larky Mavis,Brock Cole,0374343659,3.69,2001,"Farrar, Straus and Giroux (BYR)",NaN,<b>Another orginal picture-book fairy tale</b>...

In [7]:
# Find number of smaples and features
eda_data.shape

(39705, 9)

In [8]:
# Check data types of features
eda_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39705 entries, 0 to 39704
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           39705 non-null  int64
 1   Name         39705 non-null  object
 2   Authors      39705 non-null  object
 3   ISBN         39577 non-null  object
 4   Rating       39705 non-null  float64
 5   PublishYear  39705 non-null  int64
 6   Publisher    39345 non-null  object
 7   Language     7013 non-null   object
 8   Description  34559 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.7+ MB

In [9]:
# Quantiles Summary
eda_data.describe()

                 Id        Rating   PublishYear
count  3.970500e+04  39705.000000  39705.000000
mean   1.049590e+06      3.412516   1998.979751
std    2.871678e+04      1.302399      8.390990
min    1.000000e+06      0.000000   1898.000000
25%    1.025072e+06      3.400000   1996.000000
50%    1.049176e+06      3.820000   2001.000000
75%    1.074358e+06      4.080000   2005.000000
max    1.099996e+06      5.000000   2030.000000

---
---
# Data Cleaning

---
### Find missing values and replace with appropriate substitution.

In [10]:
# Find number of NaN in each column
eda_data.isna().sum()

Id                 0
Name               0
Authors            0
ISBN             128
Rating             0
PublishYear        0
Publisher        360
Language       32692
Description     5146
dtype: int64

In [11]:
eda_data.Language.unique()

array([nan, 'eng', 'fre', 'en-US', 'en-GB', 'spa', 'ger', 'ita', 'jpn',
       'en-CA', 'nl', 'lat', 'cat', 'cze', 'grc', 'por', 'per', 'rus',
       'mul', 'swe', 'ind', 'rum', 'raj', 'ang', 'afr', 'eus', 'zho',
       'ypk', 'gle', 'frm', 'tur'], dtype=object)

---
### Replace missing publisher info with unknown

In [12]:
eda_data[["Publisher"]] = eda_data[["Publisher"]].fillna("unknown")

In [13]:
eda_data.isna().sum()

Id                 0
Name               0
Authors            0
ISBN             128
Rating             0
PublishYear        0
Publisher          0
Language       32692
Description     5146
dtype: int64

---
### Remove rows with missing description

In [14]:
# Remove rows having atleast ine NaN in any feature
# eda_data.dropna(axis=0, how="any", inplace=True)
eda_data.dropna(subset=["Description"], inplace=True)

---
### Remove URLs from the description

In [15]:
list(eda_data.Description[eda_data.Id == 1099555]) #Description with url and html tag

['<i>Alternate Cover Edition can be found <a href="https://www.goodreads.com/book/show/38559855" rel="nofollow">here</a></i><br /><br />Das Böse hält keinen Winterschlaf.<br />Kathy Reichs auch nicht.<br /><br /><br />Was könnte frostiger sein als ein kanadischer Dezembersturm? Tempe Brennan, forensische Anthropologin in Montreal, wird an einem tristen Montagmorgen zu einem Fundort gerufen, der ihr das Blut in den Adern gefrieren lässt. Verscharrt in einem Kellergewölbe liegen die Leichen dreier junger Frauen. Nicht eine Gewebefaser, kein Fetzen Kleidung geben Aufschluss darüber, wann und warum diese Mädchen sterben mussten. Nur dank akribischer Ermittlungen und weiblicher Intuition kommt Tempe dem Mörder auf die Spur. Doch sie muss auf alles gefasst sein, denn ihr Gegner ist an Kaltblütigkeit nicht zu übertreffen …<br /><br /><br />Tempe Brennans siebter Fall.<br /><br /><br /><br /><br />']

In [16]:
import re
url_pattern = re.compile(r'https?://\S+|www\.\S+')
def remove_url(text):   
    return re.sub(url_pattern, r'', text)

eda_data.Description = eda_data.Description.apply(remove_url)

---
### Remove html tags from the description.

In [17]:
html_pattern = re.compile('<[^>]*>')
def clean_html_tags(text):
    return re.sub(html_pattern, r'', text)

eda_data.Description = eda_data.Description.apply(clean_html_tags)

In [18]:
list(eda_data.Description[eda_data.Id == 1099555])

['Alternate Cover Edition can be found hereDas Böse hält keinen Winterschlaf.Kathy Reichs auch nicht.Was könnte frostiger sein als ein kanadischer Dezembersturm? Tempe Brennan, forensische Anthropologin in Montreal, wird an einem tristen Montagmorgen zu einem Fundort gerufen, der ihr das Blut in den Adern gefrieren lässt. Verscharrt in einem Kellergewölbe liegen die Leichen dreier junger Frauen. Nicht eine Gewebefaser, kein Fetzen Kleidung geben Aufschluss darüber, wann und warum diese Mädchen sterben mussten. Nur dank akribischer Ermittlungen und weiblicher Intuition kommt Tempe dem Mörder auf die Spur. Doch sie muss auf alles gefasst sein, denn ihr Gegner ist an Kaltblütigkeit nicht zu übertreffen …Tempe Brennans siebter Fall.']

---
### Remove punctuations from the description

In [19]:
import string
punctuations = string.punctuation
def remove_punctuations(text):
    return text.translate(str.maketrans('', '', punctuations))

eda_data.Description = eda_data.Description.apply(remove_punctuations)

In [20]:
eda_data.Description.head(5)

0    What could a computer expert a mercenary with ...
1    During their stay at Camp SleepAway sisters Be...
2    A poorly dressed old man appears at an inn and...
3    This beautiful series lavishly illustrates the...
4    Another orginal picturebook fairy taleLarky Ma...
Name: Description, dtype: object

---
### Remove extra spaces from the text columns and convert the lettercase to lower

In [21]:
eda_data[["Name", "Authors", "Publisher", "Description"]] = pd.concat([eda_data[col].astype(str).str.lower().str.strip() for col in ["Name", "Authors", "Publisher", "Description"]], axis=1)
eda_data.head()

,Id,Name,Authors,ISBN,Rating,PublishYear,Publisher,Language,Description
0,1000000,flight from eden,kathryn a. graham,0595199402,4.00,2001,writer's showcase press,NaN,what could a computer expert a mercenary with ...
1,1000001,roommates again,kathryn o. galbraith,0689505973,3.20,1994,margaret k. mcelderry books,NaN,during their stay at camp sleepaway sisters be...
2,1000003,the king at the door,brock cole,0374440417,3.95,1992,farrar straus giroux,NaN,a poorly dressed old man appears at an inn and...
3,1000004,"giotto: the scrovegni chapel, padua",bruce cole,080761310X,4.47,1993,george braziller,NaN,this beautiful series lavishly illustrates the...
4,1000005,larky mavis,brock cole,0374343659,3.69,2001,"farrar, straus and giroux (byr)",NaN,another orginal picturebook fairy talelarky ma...

---
### Find book descriptions with very short length and remove them.

In [22]:
eda_data["length"] = [len(d.split()) for d in eda_data['Description'].tolist()]
eda_data[eda_data.length.isin(range(0,4))][["Id", "Name", "Description", "length"]]\
.sort_values(by=["length"], ascending=True).head(10)

,Id,Name,Description,length
2327,1005785,tag-along tails: ring tailed lemur,,0
31889,1079751,mahmoud ahmadinejad: president of iran,,0
30582,1076433,buddhism,,0
5751,1013931,"mixed feelings: feminism, mass culture, and v...",,0
28889,1072133,frequently asked questions about being gifted,,0
7523,1018569,ballad of santo casiero,,0
28887,1072128,frequently asked questions about stuttering,,0
636,1001461,barbarism,poetry,1
36831,1092143,nighthawk f-117 stealth fighter,new,1
28972,1072319,the milk group,none,1

- As we have removed tags we see empty strings in the description, lets first convert them to NaN and then remove them

In [23]:
# Replace empty strings of description with NaN
eda_data.Description = eda_data.Description.replace(r'^\s*$', np.nan, regex=True)

eda_data[eda_data.length.isin(range(0,4))][["Id", "Name", "Description", "length"]]\
.sort_values(by=["length"], ascending=True).head()

,Id,Name,Description,length
2327,1005785,tag-along tails: ring tailed lemur,NaN,0
31889,1079751,mahmoud ahmadinejad: president of iran,NaN,0
30582,1076433,buddhism,NaN,0
5751,1013931,"mixed feelings: feminism, mass culture, and v...",NaN,0
28889,1072133,frequently asked questions about being gifted,NaN,0

In [24]:
eda_data.dropna(subset=["Description"], inplace=True)

eda_data[eda_data.length.isin(range(0,4))][["Id", "Name", "Description", "length"]]\
.sort_values(by=["length"], ascending=True).head()

,Id,Name,Description,length
636,1001461,barbarism,poetry,1
24941,1062171,middlemarch: in half the time,abridged,1
17626,1043889,"to the nines (stephanie plum, #9)",1593977484,1
26421,1065801,the bird lovers,drama,1
26889,1066895,凤凰集,本集共收《在私塾》、《往事》、《常德的船》、《凤凰》等10篇散文。,1

In [25]:
print(set(eda_data.Description[eda_data.length.isin(range(0,4))]))

{'ranma ½ 7', 'drama', 'erlogen von loriot', 'level a', 'none', 'haynes', 'grades 612', 'edition bilingue', '《文化、權力與國家1900—1942年的華北農村》是美國學者杜贊奇的名著。杜贊奇（prasenjit duara），早年就學於印度，後赴美國求學，師從著名漢學大師孔飛力，現任美國芝加哥大學歷史學系及東亞語言文明系教授。其著作除本書外，還有廣為學界選舉的《從民族國家拯救歷史》。此兩書使杜贊奇成為名聞國際的漢學家。本書是以鄉村的文化網絡為基本結構並考察其功能力，作者主要利用日本南滿鐵道株式會社調查部編撰的《中國慣行調查報告》、南開大學經濟研究所在20世紀二三十年代所做的社會調查材料，以及中外學者已有的研究成果，通過細致的個案研究，向我們展示了1900—1942年間華北農村社會的政治經濟文化的一般狀況。作者力圖打通歷史學與社會學的間隔，提出了「國家政權建設」和「權力的文化網絡」兩個中心概念。作者認為，「國家政權建設」是一種全球性現象，作為一個概念，同更古老的「資本主義」等概念一樣，具有深遠的分析性含義。「權力的文化網絡」概念則吸收了西方學術界有關文化研究的成果，反對一些現代化論者用單一社會體系或一套所謂的「中國價值觀」去理解中國的觀點，同時也反對認為價值觀點交互感應的功能主義論者的學說。最重要的一點是，作者在書中貫穿了這樣一種方法在考慮話語—主體—制度這三者對歷史的建構時，應加入許多外來事物和偶然因素，因為參與主體和主體性構成的不僅有話語，還有外來事物；而由主體構建的制度，還應包括制度本身的邏輯性和偶然性。本書曾先後榮獲1989年度的美國歷史學會費正清獎以及1900年度的亞洲研究學會列文森獎。', 'print on demand', 'english and italian', 'book by', 'publishers weekly', '《洗澡》不是由一个主角贯连全部的小说，而是借一个政治运动作背景，写那个时期形形色色的知识分子。所以是个横断面；既没有史诗性的结构，也没有主角。本书第一部写新中国不拘一格收罗的人才，人物一一出场。第二部写这些人确实需要“洗澡”。第三部写运动中这群人各自不同的表现。“洗澡”没有得到预期的效果，原因是谁都没有自觉自愿。假如说，人是有灵性、有良知的动物，那么，人生一世，无非是认识自己，洗炼自己，自觉自愿地改造自己，除非甘心与禽兽无异。但是这又谈何容易呢？这部小说里，只有一两人自觉自愿地试图超拔自己。读者出于喜爱，往往把他们看作主角。', '中古品につき多少のキズ・汚れ・日焼け等はありますが、状態は良好です。', 'collects daredevil 125', 'twentytwo traditional rhymes', 'revised and updated', 'vol 1of 2', 'textformat02gt', 'new', 'anthology', 'recreation of landscape', 'yasuhiro nakasone', 'one womanos charlottetown', '1593977484', 'undefined', 'the understanding', 'poetry', 'bild wissensbibliothek', '本集共收《在私塾》、《往事》、《常德的船》、《凤凰》等10篇散文。', 'achtzehn beispielhafte bildergeschichten', 'noel polk editor', 'abridged'}

In [26]:
# Drop records with very short description
eda_data.drop(eda_data.index[eda_data.length.isin(range(0,4))], inplace = True)
print(eda_data[eda_data.length.isin(range(0,4))].shape[0])
del eda_data["length"]

0

---
### Find if there is duplication of rows/features

In [27]:
# Find number of duplicated rows
eda_data[eda_data.duplicated()==True].shape[0]

0

In [28]:
# Find number of duplicated values of each feature
eda_data.shape[0] - eda_data.nunique()

Id                 0
Name             107
Authors         9326
ISBN              87
Rating         34253
PublishYear    34425
Publisher      28483
Language       34488
Description      457
dtype: int64

---
### Drop variants of the same book
- We see that some descriptions are repeated this possibly could be due to different versions of the same book. ISBN has missing values. Repeated values in Authors, Publisher can help in book recommedation. 
- We see that same books have different ISBN becuase an ISBN is assigned to each separate edition and variation of a publication. ISBN is like an identity number for each edition, imprint, impression or version of the same book. For example, an e-book, a paperback and a hardcover edition of the same book will each have a different ISBN (except reprintings).
- Only keep variants where Publisher is not null, if Publisher is missing for all the variants then keep the first occurrence and delete rest.

In [29]:
# Convert unknown to NaN
eda_data["Publisher"] = eda_data.Publisher.replace('unknown',np.nan)

# Find books that have same Name Author, Description and Publisher
eda_data[eda_data.duplicated(subset=["Name", "Authors", "Publisher", "Description"], keep=False)][["Id", "ISBN", "Name", "Authors", "Publisher", "Language", "Description"]]

,Id,ISBN,Name,Authors,Publisher,Language,Description
1384,1003324,0450049124,the war hound and the world's pain,michael moorcock,NaN,NaN,the basic premise is that lucifer isnt an omni...
1385,1003326,0671604090,the war hound and the world's pain,michael moorcock,NaN,eng,the basic premise is that lucifer isnt an omni...
5446,1013271,0916727106,sonnets and salsa,carmen tafolla,wings press,NaN,this major poetry collection is a fearless dep...
7744,1019211,1593975198,i am charlotte simmons,tom wolfe,macmillan audio,en-GB,2005 audie award finalistamerica’s “peerless o...
7745,1019212,1593976461,i am charlotte simmons,tom wolfe,macmillan audio,NaN,2005 audie award finalistamerica’s “peerless o...
17599,1043822,0748610162,on black men,david marriott,edinburgh university press,NaN,mutilated dying or dead black men have a role ...
17603,1043833,0748610170,on black men,david marriott,edinburgh university press,NaN,mutilated dying or dead black men have a role ...
37241,1093263,0930324560,sonnets and salsa,carmen tafolla,wings press,NaN,this major poetry collection is a fearless dep...

In [30]:
eda_data = eda_data.sort_values(by="Publisher", na_position='last').drop_duplicates(subset=["Name", "Authors", "Publisher", "Description"], keep='first')

- Though we have deleted rows with same name, authors, publisher and description, when we find books having duplicated description we observe certain records, this happens due to minor textual changes in the Name of the book and also because ceratin descriptions are repetitive for different books.

In [31]:
eda_data[eda_data.duplicated(subset=["Description"], keep=False)][["Id", "ISBN", "Name", "Authors", "Publisher", "Language", "Description"]]

,Id,ISBN,Name,Authors,Publisher,Language,Description
38130,1095708,1421899116,thou shalt not think; the brutally frank guide...,david jack,1st world publishing,NaN,every once in awhile there comes a book of suc...
38129,1095704,1421899108,thou shalt not think: the brutally frank guide...,david jack,1st world publishing,NaN,every once in awhile there comes a book of suc...
1538,1003725,0713628278,"comet in moominland (the moomins, #2)",tove jansson,a & c black,eng,when moomintroll learns that a comet will be p...
16882,1042305,1599287803,belgium,kristin van cleaf,abdo publishing company,NaN,fullcolor photographs diagrams index bolded gl...
35403,1088595,0441768040,the souix spaceman,andre norton,ace,NaN,kade whitehawk had two strikes against him in ...
...,...,...,...,...,...,...,...
14589,1036883,0006548210,a user's guide to the millennium: essays and r...,j.g. ballard,NaN,NaN,collected for the first time these are the non...
19324,1047861,0099268817,possessing the secret of joy,alice walker,NaN,eng,possessing the secret of joy is the story of t...
21087,1052431,0819601608,literature and insurgency: ten studies in raci...,john curtis underwood,NaN,NaN,this scarce antiquarian book is included in ou...
29486,1073620,143460666X,the life of nelson volume 2 (large print editi...,alfred thayer mahan,NaN,NaN,this is a pre1923 historical reproduction that...
30828,1076983,0793565413,walt disney pictures presents:the hunchback of...,songbook,NaN,NaN,a group of resourceful kids start solutionseek...

---
### Extract book series information from the name of the book
- Remove irrelevant info from the name of the book to improve efficiency of the tokenization.
- Book names with hashtag represent edition of the book in a series

In [32]:
series_pattern =  "(?:[;]\s*|\(\s*)([^\(;]*\s*#\s*\d+(?:\.?\d+|\\&\d+|-?\d*))"
def get_book_series_info(text):
    series_info = re.findall(series_pattern, text)
    return series_info if series_info else np.nan

eda_data['BookSeriesInfo'] = eda_data.Name.apply(get_book_series_info)

book_name_cases = ["Sire Lines, Revised Edition (Blood-Horse Classics Library)", 
                   "Lovers and Ladies (Lovers and Ladies, #5&6)",
                   "Oh, Cuan Lejos Llegaras! (Oh, the Places You'll Go!", "Ranma 1/2, Vol. 28 (Ranma ½ (US 2nd), #28)", 
                   "Fairy Realm edition, #1-3 (Fairy Realm, #1-3)", "Fairy Realm edition, #1.3 (Fairy Realm, #1.3)", 
                   "Codes: How to Make Them and Break Them (Murderous Maths, # 14)",
                   "The Best Catch In Texas (Men of the West, #10) (Silhouette Special Edition #1814)",
                   "Patriot Games ((Blood-Horse Classics Library)) (Jack Ryan, #1; Jack Ryan Universe, #2)"]

print("\033[1m{:90}\033[0m\033[1m{:5}\033[0m".format("Book Name", "Series Information"))
for name in book_name_cases:
    print("{!s:90}{!s:5}".format(name, get_book_series_info(name)))

Book Name                                                                                 Series Information
Sire Lines, Revised Edition (Blood-Horse Classics Library)                                nan
Lovers and Ladies (Lovers and Ladies, #5&6)                                               ['Lovers and Ladies, #5&6']
Oh, Cuan Lejos Llegaras! (Oh, the Places You'll Go!                                       nan
Ranma 1/2, Vol. 28 (Ranma ½ (US 2nd), #28)                                                ['US 2nd), #28']
Fairy Realm edition, #1-3 (Fairy Realm, #1-3)                                             ['Fairy Realm, #1-3']
Fairy Realm edition, #1.3 (Fairy Realm, #1.3)                                             ['Fairy Realm, #1.3']
Codes: How to Make Them and Break Them (Murderous Maths, # 14)                            ['Murderous Maths, # 14']
The Best Catch In Texas (Men of the West, #10) (Silhouette Special Edition #1814)         ['Men of the West, #10', 'Silhouette Special Edition #1814']
Patriot Games ((Blood-Horse Classics Library)) (Jack Ryan, #1; Jack Ryan Universe, #2)    ['Jack Ryan, #1', 'Jack Ryan Universe, #2']

- As we are using regex there will be certain exceptions, for example it misses a book name with nested brackets case. The name of the book is "Ranma 1/2, Vol. 28 (Ranma ½ (US 2nd), #28)", it should extract series information as `Ranma ½ (US 2nd), #28]`, instead, it extracts `[US 2nd), #28]`

In [33]:
eda_data[["Id","Name", "BookSeriesInfo"]][eda_data.BookSeriesInfo.isna() == False]

,Id,Name,BookSeriesInfo
1538,1003725,"comet in moominland (the moomins, #2)","[the moomins, #2]"
5758,1013940,the beast (grens & sundkvist #1),[grens & sundkvist #1]
8375,1020812,"kill or cure (the afterblight chronicles, #2)","[the afterblight chronicles, #2]"
9449,1023480,"the boy i love (the boy i love trilogy, #1)","[the boy i love trilogy, #1]"
17865,1044430,"the laughing corpse (anita blake, vampire hunt...","[anita blake, vampire hunter #2]"
...,...,...,...
24047,1060056,"double tap (paul madriani, #8)","[paul madriani, #8]"
27648,1068944,seven up (stephanie plum #7),[stephanie plum #7]
28870,1072084,"zoff in der clique (for girls only, #1)","[for girls only, #1]"
33331,1083382,"blood captain (vampirates, #3)","[vampirates, #3]"
35529,1088870,"rabbit rescue (animal emergency, #5)","[animal emergency, #5]"

In [34]:
eda_data.isna().sum()

Id                    0
Name                  0
Authors               0
ISBN                 87
Rating                0
PublishYear           0
Publisher           232
Language          28182
Description           0
BookSeriesInfo    32398
dtype: int64

---
### Remove the series info from the name of the book

In [36]:
series_remove_pattern = re.compile("(?:[\(]\s*[^\(;]*\s*#\s*\d+(?:\.?\d+|\\&\d+|-?\d*)(?:;|\))|\s*[^\(;]*\s*#\s*\d+(?:\.?\d+|\\&\d+|-?\d*)\))")       
def remove_series_info(text):
    return re.sub(series_remove_pattern, r'', text)

print("\033[1m{:80}\033[0m\033[1m{:5}\033[0m".format("Book Name", "Series Information"))
for name in book_name_cases:
    print("{!s:80}{!s:5}".format(name, remove_series_info(name)))

eda_data["Name"]= eda_data["Name"].str.replace(series_remove_pattern, r'').str.strip()

Book Name                                                                       Series Information
Sire Lines, Revised Edition (Blood-Horse Classics Library)                      Sire Lines, Revised Edition (Blood-Horse Classics Library)
Lovers and Ladies (Lovers and Ladies, #5&6)                                     Lovers and Ladies
Oh, Cuan Lejos Llegaras! (Oh, the Places You'll Go!                             Oh, Cuan Lejos Llegaras! (Oh, the Places You'll Go!
Ranma 1/2, Vol. 28 (Ranma ½ (US 2nd), #28)                                      Ranma 1/2, Vol. 28 (Ranma ½
Fairy Realm edition, #1-3 (Fairy Realm, #1-3)                                   Fairy Realm edition, #1-3
Fairy Realm edition, #1.3 (Fairy Realm, #1.3)                                   Fairy Realm edition, #1.3
Codes: How to Make Them and Break Them (Murderous Maths, # 14)                  Codes: How to Make Them and Break Them
The Best Catch In Texas (Men of the West, #10) (Silhouette Special Edition #1814)The Best Catch In Texas
Patriot Games ((Blood-Horse Classics Library)) (Jack Ryan, #1; Jack Ryan Universe, #2)Patriot Games ((Blood-Horse Classics Library))

---
### Impute missing language with book title language

In [ ]:
# import numpy as np
# from nltk.classify.textcat import TextCat
# tc = TextCat()
# def detect_language(text):
#     # print(text, end="\t")
#     # Guess language using first five words
#     text = " ".join(text.split()[:5])
#     if text.isnumeric():
#         # print("---NUMERIC---")
#         # print("eng")
#         return 'eng'
#     else:
#         # print(tc.guess_language(text).strip())
#         return tc.guess_language(text).strip()
# eda_data['Language'] = eda_data.apply(lambda x: detect_language(x['Name']) if pd.isna(x['Language']) else x['Language'], axis=1)

---
### Transform book and author names into single token
- Merge first and last name of authors so that two authors with same first or last name are not considered same when the tokenization happens.
- Also merge name of the book so that it is considered as single token during the processing.

In [37]:
eda_data["Authors"] = eda_data["Authors"].str.replace(' ','_')
eda_data["Name"] = eda_data["Name"].str.replace(' ','_')
eda_data.head()

,Id,Name,Authors,ISBN,Rating,PublishYear,Publisher,Language,Description,BookSeriesInfo
8222,1020396,the_gospel_of_john,francis_j._moloney,0814658067,4.12,1998,"""michael glazier""",NaN,what sets this commentary on the fourth gospel...,NaN
29576,1073868,hanslick_on_the_musically_beautiful:_sixteen_l...,geoffrey_payzant,1877275530,0.00,2003,1-877275-49-2,NaN,the sixteen lectures by geoffrey payzant in th...,NaN
10277,1025976,microserfs,douglas_coupland,2264024003,3.88,1997,10/18,fre,génération x 1018 n° 2508 qui a connu un gros ...,NaN
18484,1045943,courir_avec_des_ciseaux,augusten_burroughs,2264043784,3.73,2006,10/18,fre,roman autobiographique choc courir avec des ci...,NaN
11093,1027805,affinités,sarah_waters,2264043628,3.74,2006,10/18,fre,pour tromper son ennui une demoiselle de la bo...,NaN

---
### Save Preprocessed Data

In [ ]:
eda_data.to_csv("data/preprocessed.csv", sep=",", index=False)