In [48]:
import pandas as pd

In [49]:
# Read the data
data = pd.read_csv("data/goodreads_book.csv")
eda_data = data.copy()
eda_data.head()

,Id,Name,Authors,ISBN,Rating,PublishYear,PublishMonth,PublishDay,Publisher,RatingDist5,RatingDist4,RatingDist3,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,pagesNumber,Description,Count of text reviews
0,1000000,Flight from Eden,Kathryn A. Graham,0595199402,4.00,2001,1,10,Writer's Showcase Press,5:1,4:1,3:1,2:0,1:0,total:3,1,NaN,380,"What could a computer expert, a mercenary with...",1
1,1000001,Roommates Again,Kathryn O. Galbraith,0689505973,3.20,1994,1,4,Margaret K. McElderry Books,5:0,4:3,3:1,2:0,1:1,total:5,1,NaN,44,"During their stay at Camp Sleep-Away, sisters ...",1
2,1000003,The King At The Door,Brock Cole,0374440417,3.95,1992,31,12,Farrar Straus Giroux,5:5,4:9,3:4,2:1,1:0,total:19,0,NaN,32,A poorly dressed old man appears at an inn and...,0
3,1000004,"Giotto: The Scrovegni Chapel, Padua",Bruce Cole,080761310X,4.47,1993,1,8,George Braziller,5:9,4:5,3:0,2:1,1:0,total:15,2,NaN,118,This beautiful series lavishly illustrates the...,2
4,1000005,Larky Mavis,Brock Cole,0374343659,3.69,2001,3,8,"Farrar, Straus and Giroux (BYR)",5:19,4:12,3:9,2:7,1:4,total:51,8,NaN,32,<b>Another orginal picture-book fairy tale</b>...,8

In [50]:
# Check column names
eda_data.columns

Index(['Id', 'Name', 'Authors', 'ISBN', 'Rating', 'PublishYear',
       'PublishMonth', 'PublishDay', 'Publisher', 'RatingDist5', 'RatingDist4',
       'RatingDist3', 'RatingDist2', 'RatingDist1', 'RatingDistTotal',
       'CountsOfReview', 'Language', 'pagesNumber', 'Description',
       'Count of text reviews'],
      dtype='object')

In [51]:
# Find number of smaples and features
eda_data.shape

(39705, 20)

In [52]:
# Check data types of features
eda_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39705 entries, 0 to 39704
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     39705 non-null  int64
 1   Name                   39705 non-null  object
 2   Authors                39705 non-null  object
 3   ISBN                   39577 non-null  object
 4   Rating                 39705 non-null  float64
 5   PublishYear            39705 non-null  int64
 6   PublishMonth           39705 non-null  int64
 7   PublishDay             39705 non-null  int64
 8   Publisher              39345 non-null  object
 9   RatingDist5            39705 non-null  object
 10  RatingDist4            39705 non-null  object
 11  RatingDist3            39705 non-null  object
 12  RatingDist2            39705 non-null  object
 13  RatingDist1            39705 non-null  object
 14  RatingDistTotal        39705 non-null  object
 15  CountsOfReview         39705 non-null  int64
 16  Language               7013 non-null   object
 17  pagesNumber            39705 non-null  int64
 18  Description            34559 non-null  object
 19  Count of text reviews  39705 non-null  int64
dtypes: float64(1), int64(7), object(12)
memory usage: 6.1+ MB

In [53]:
# Quantiles Summary
eda_data.describe()

,Id,Rating,PublishYear,PublishMonth,PublishDay,CountsOfReview,pagesNumber,Count of text reviews
count,3.970500e+04,39705.000000,39705.000000,39705.000000,39705.000000,39705.000000,39705.000000,39705.000000
mean,1.049590e+06,3.412516,1998.979751,9.832968,6.363204,6.652840,269.691701,6.652840
std,2.871678e+04,1.302399,8.390990,10.318830,3.569061,61.761266,216.361071,61.761266
min,1.000000e+06,0.000000,1898.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,1.025072e+06,3.400000,1996.000000,1.000000,3.000000,0.000000,152.000000,0.000000
50%,1.049176e+06,3.820000,2001.000000,4.000000,6.000000,1.000000,240.000000,1.000000
75%,1.074358e+06,4.080000,2005.000000,18.000000,9.000000,3.000000,336.000000,3.000000
max,1.099996e+06,5.000000,2030.000000,31.000000,12.000000,8793.000000,9998.000000,8793.000000

# Data Cleaning
### Find missing values and replace with appropriate substitution.

In [54]:
# Find number of NaN in each column
eda_data.isna().sum()

Id                           0
Name                         0
Authors                      0
ISBN                       128
Rating                       0
PublishYear                  0
PublishMonth                 0
PublishDay                   0
Publisher                  360
RatingDist5                  0
RatingDist4                  0
RatingDist3                  0
RatingDist2                  0
RatingDist1                  0
RatingDistTotal              0
CountsOfReview               0
Language                 32692
pagesNumber                  0
Description               5146
Count of text reviews        0
dtype: int64

In [55]:
eda_data.Language.unique()

array([nan, 'eng', 'fre', 'en-US', 'en-GB', 'spa', 'ger', 'ita', 'jpn',
       'en-CA', 'nl', 'lat', 'cat', 'cze', 'grc', 'por', 'per', 'rus',
       'mul', 'swe', 'ind', 'rum', 'raj', 'ang', 'afr', 'eus', 'zho',
       'ypk', 'gle', 'frm', 'tur'], dtype=object)

In [56]:
# Replace NaN language and publisher with unknown
eda_data[["Language", "Publisher"]] = eda_data[["Language","Publisher"]].fillna("unknown")

In [57]:
eda_data.isna().sum()

Id                          0
Name                        0
Authors                     0
ISBN                      128
Rating                      0
PublishYear                 0
PublishMonth                0
PublishDay                  0
Publisher                   0
RatingDist5                 0
RatingDist4                 0
RatingDist3                 0
RatingDist2                 0
RatingDist1                 0
RatingDistTotal             0
CountsOfReview              0
Language                    0
pagesNumber                 0
Description              5146
Count of text reviews       0
dtype: int64

In [69]:
# Rows where both ISBN and Description are NaN
eda_data[eda_data[["ISBN", "Description"]].isna().all(1)].shape

(41, 20)

### Remove rows with NaN

In [70]:
# Remove rows having atleast ine NaN in any feature
eda_data.dropna(axis=0, how="any", inplace=True)

In [71]:
eda_data.shape

(34472, 20)

In [67]:
39705 - 128 - 5146 +41

34472

### Find if there is duplication of rows/features

In [77]:
# Find number of duplicated rows
eda_data[eda_data.duplicated()==True].shape[0]

0

In [80]:
# Find number of unique values of each feature
eda_data.nunique()

Id                       34472
Name                     34472
Authors                  25168
ISBN                     34472
Rating                     263
PublishYear                 91
PublishMonth                31
PublishDay                  12
Publisher                 6086
RatingDist5               3124
RatingDist4               3157
RatingDist3               2768
RatingDist2               1724
RatingDist1               1131
RatingDistTotal           4352
CountsOfReview             293
Language                    28
pagesNumber               1142
Description              34063
Count of text reviews      293
dtype: int64

- We see that some descriptions are repaeted this possibly could be due to different versions of the same book.

In [135]:
eda_data.Description[eda_data.duplicated(subset="Description")==True]

79       With passion and verve, Joseph Kinsey Howard, ...
90       At the extreme tip of South America, Staten Is...
169      In 1801 the Moravians, a Pietist German-speaki...
1324     A classic Alternate History story - the first ...
1327     There's Lone, the simpleton who can hear other...
                               ...
39345    Excerpt from La Tulipe Noire<br /><br />Gramma...
39525    First published in 1993. Routledge is an impri...
39542    <i>Alternate Cover Edition can be found <a hre...
39550    This scarce antiquarian book is a facsimile re...
39663    First Published in 1999. Routledge is an impri...
Name: Description, Length: 409, dtype: object

In [180]:
k = eda_data[eda_data.duplicated(subset="Description", keep=False)][["Id","Name", "ISBN", "Language", "Description"]]
k

,Id,Name,ISBN,Language,Description
78,1000165,Strange Empire,0873512987,unknown,"With passion and verve, Joseph Kinsey Howard, ..."
79,1000166,Strange Empire: Louis Riel and the M?tis People,0888620594,eng,"With passion and verve, Joseph Kinsey Howard, ..."
89,1000185,Lighthouse at the End of the World: The First ...,0803246765,unknown,"At the extreme tip of South America, Staten Is..."
90,1000188,Lighthouse at the End of the World,0803260075,eng,"At the extreme tip of South America, Staten Is..."
168,1000366,The Moravian Springplace Mission to the Cherok...,0803232659,unknown,"In 1801 the Moravians, a Pietist German-speaki..."
...,...,...,...,...,...
39525,1099485,Communication and Citizenship: Journalism and ...,0415100674,unknown,First published in 1993. Routledge is an impri...
39540,1099555,Monday Mourning,0743233476,eng,<i>Alternate Cover Edition can be found <a hre...
39542,1099557,Meurtres à La Carte,222110062X,unknown,<i>Alternate Cover Edition can be found <a hre...
39550,1099575,Mopsa The Fairy,1430441771,unknown,This scarce antiquarian book is a facsimile re...
39663,1099858,Socrates-Arg Philosophers,0415203546,unknown,First Published in 1999. Routledge is an impri...

- We see that same books have different ISBN becuase an ISBN is assigned to each separate edition and variation of a publication. For example, an e-book, a paperback and a hardcover edition of the same book will each have a different ISBN (except reprintings).
### Find book titles with very short length and remove them.

In [183]:
k["length"] = [len(x.split()) for x in k['Description'].tolist()]
k.sort_values(by=["length"])
k[k.length.isin(range(0,7))]

,Id,Name,ISBN,Language,Description,length
4180,1010279,SQL Server Dts,0735711232,unknown,PLEASE PROVIDE COURSE INFORMATION PLEASE PROVIDE,6
6576,1016208,Voyages of the Columbia to the Northwest Coast...,087595250X,eng,Book by,2
7523,1018569,Ballad of Santo Casiero,1904596037,unknown,##############################################...,1
18649,1046351,Embryology: Constructing the Organism,0878932372,eng,Book by,2
19327,1047866,Alpha Teach Yourself Grammar & Style in 24 hours,0028638999,unknown,PLEASE PROVIDE COURSE INFORMATION PLEASE PROVIDE,6
27371,1068180,The Visual Guide to College Composition,0321060997,unknown,textformat=02&gt;,1
27518,1068566,Even More True Stories: An Intermediate Reader,0201346729,unknown,textformat=02&gt;,1
28887,1072128,Frequently Asked Questions about Stuttering,1404219315,unknown,##############################################...,1
28889,1072133,Frequently Asked Questions about Being Gifted,1404219382,unknown,##############################################...,1
31889,1079751,Mahmoud Ahmadinejad: President of Iran,1404219005,unknown,##############################################...,1
38569,1096741,The Complete Idiot's Guide to Kama Sutra,0028639006,unknown,PLEASE PROVIDE COURSE INFORMATION PLEASE PROVIDE,6

In [184]:
# Drop records with very short description
k.drop(k.index[k.length.isin(range(0,7))], inplace = True)

In [185]:
k[k.length.isin(range(0,7))]

Empty DataFrame
Columns: [Id, Name, ISBN, Language, Description, length]
Index: []