# Text Representation

In [1]:
import pandas as pd

In [2]:
# Fetch preprocessed data
model_data = pd.read_csv("data/keywords.csv")
model_data.head()

,Id,Name,keywords
0,1030195,morning star,h._rider_haggard 1st_world_library_-_literary...
1,1090099,kitty's class day and other stories,louisa_may_alcott 1st_world_library_-_literar...
2,1013522,the art of french kissing,kristin_harmel 5_spot_pub eng emma paris fren...
3,1003725,"comet in moominland (the moomins, #2)","the_moomins,_#2 tove_jansson a_&_c_black eng m..."
4,1099901,the boy who cried horse,terry_deary a_&_c_black en-GB acheron greeks ...

---
### Vectorize the keywords summary using TF-IDF
- Convert the keywords for each book into a numeric vector, based on the frequency of each word in the book's keywords

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
# Remove tokens occuring less than 3 times or occur in more than 60% of the documents.
tfidf = TfidfVectorizer(min_df=3, max_df=0.6, stop_words="english")
tfidf_encoding = tfidf.fit_transform(model_data["keywords"])

In [14]:
# Preview some words in the vocabulary
print(tfidf.get_feature_names()[200:300])

['aladdin_paperbacks', 'alan_craik', 'alaska', 'alaskan', 'alaskas', 'alastair_reynolds', 'albert_camus', 'album', 'alec', 'alex', 'alexander', 'alexandra', 'alfred', 'alfred_a', 'alfred_a_knopf', 'algeria', 'algonquin_books', 'algorithms', 'alice', 'alices', 'alien', 'aliens', 'allen_lane', 'allied', 'allison_', 'allison_leigh', 'alphabet', 'altamira_press', 'alyson_books', 'amber', 'amelia', 'americas', 'amos_oz', 'amp', 'amy', 'amys', 'analysis', 'ananda_k', 'ancestors', 'ancient', 'andersen', 'andy', 'andy_carpenter_', 'angel', 'angels', 'angie', 'angie_amalfi', 'animal', 'animals', 'anime', 'anita', 'anita_blake', 'anita_shreve', 'ann', 'ann_major', 'anna', 'anne', 'anne_mccaffrey', 'anne_rice', 'anne_tyler', 'annes', 'annette_blair', 'anonymous', 'anorexia', 'anthologies', 'anthology', 'anthony_horowitz', 'anthropological', 'anthropologist', 'anthropologists', 'anthropology', 'antique', 'antique_lover', 'antiques', 'apocalypse', 'apocalyptic', 'apprentice', 'aquaman', 'arc_3_', 'arcadia_publishing', 'arcadia_publishing_', 'archaeological', 'archaeologist', 'archaeologists', 'archaeology', 'archeology', 'archie', 'architect', 'architects', 'architectural', 'architecture', 'archives', 'arctic', 'aristotle', 'arithon', 'armada', 'armstrong', 'army', 'arrow', 'arrow_books']